src/JavaEE/GoAber/GoAber-ejb/src/conf/xml-resources/web-services/GoAberChallengesWS/wsdl/localhost_50121/WebService/ChallengesWS/GoAberChallengesWS.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://goaberchallenges.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://goaberchallenges.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://goaberchallenges.org/">
      <s:element name="RecieveChallenge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="challenge" type="tns:ChallengeData" />
            <s:element minOccurs="1" maxOccurs="1" name="userGroup" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ChallengeData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="categoryUnitId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="startTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="endTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="authtoken" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RecieveChallengeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RecieveChallengeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecieveResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="tns:ResultData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="categoryUnitId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="value" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="challengeId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="authtoken" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RecieveResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecieveResultResult" type="tns:ResultData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecieveCommunityContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="community" type="tns:CommunityData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CommunityData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="challengesEndpoint" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="authtoken" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RecieveCommunityContractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecieveCommunityContractResult" type="tns:CommunityData" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecieveChallengeSoapIn">
    <wsdl:part name="parameters" element="tns:RecieveChallenge" />
  </wsdl:message>
  <wsdl:message name="RecieveChallengeSoapOut">
    <wsdl:part name="parameters" element="tns:RecieveChallengeResponse" />
  </wsdl:message>
  <wsdl:message name="RecieveResultSoapIn">
    <wsdl:part name="parameters" element="tns:RecieveResult" />
  </wsdl:message>
  <wsdl:message name="RecieveResultSoapOut">
    <wsdl:part name="parameters" element="tns:RecieveResultResponse" />
  </wsdl:message>
  <wsdl:message name="RecieveCommunityContractSoapIn">
    <wsdl:part name="parameters" element="tns:RecieveCommunityContract" />
  </wsdl:message>
  <wsdl:message name="RecieveCommunityContractSoapOut">
    <wsdl:part name="parameters" element="tns:RecieveCommunityContractResponse" />
  </wsdl:message>
  <wsdl:portType name="GoAberChallengesWSSoap">
    <wsdl:operation name="RecieveChallenge">
      <wsdl:input message="tns:RecieveChallengeSoapIn" />
      <wsdl:output message="tns:RecieveChallengeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecieveResult">
      <wsdl:input message="tns:RecieveResultSoapIn" />
      <wsdl:output message="tns:RecieveResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecieveCommunityContract">
      <wsdl:input message="tns:RecieveCommunityContractSoapIn" />
      <wsdl:output message="tns:RecieveCommunityContractSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GoAberChallengesWSSoap" type="tns:GoAberChallengesWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecieveChallenge">
      <soap:operation soapAction="http://goaberchallenges.org/RecieveChallenge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecieveResult">
      <soap:operation soapAction="http://goaberchallenges.org/RecieveResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecieveCommunityContract">
      <soap:operation soapAction="http://goaberchallenges.org/RecieveCommunityContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GoAberChallengesWSSoap12" type="tns:GoAberChallengesWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecieveChallenge">
      <soap12:operation soapAction="http://goaberchallenges.org/RecieveChallenge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecieveResult">
      <soap12:operation soapAction="http://goaberchallenges.org/RecieveResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecieveCommunityContract">
      <soap12:operation soapAction="http://goaberchallenges.org/RecieveCommunityContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GoAberChallengesWS">
    <wsdl:port name="GoAberChallengesWSSoap" binding="tns:GoAberChallengesWSSoap">
      <soap:address location="http://localhost:50121/WebService/ChallengesWS/GoAberChallengesWS.asmx" />
    </wsdl:port>
    <wsdl:port name="GoAberChallengesWSSoap12" binding="tns:GoAberChallengesWSSoap12">
      <soap12:address location="http://localhost:50121/WebService/ChallengesWS/GoAberChallengesWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>