src/ASP.NET/GoAber.WebServiceClientSandbox/GoAber.WebServiceClientSandbox.API/Service References/GoAberWS/GoAberWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddActivityData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfActivityData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfActivityData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ActivityData" nillable="true" type="tns:ActivityData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ActivityData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="categoryUnitId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="value" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddActivityDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddActivityDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="authtoken" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AddActivityDataSoapIn">
    <wsdl:part name="parameters" element="tns:AddActivityData" />
  </wsdl:message>
  <wsdl:message name="AddActivityDataSoapOut">
    <wsdl:part name="parameters" element="tns:AddActivityDataResponse" />
  </wsdl:message>
  <wsdl:message name="AddActivityDataAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="GoAberWSSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddActivityData">
      <wsdl:input message="tns:AddActivityDataSoapIn" />
      <wsdl:output message="tns:AddActivityDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GoAberWSSoap" type="tns:GoAberWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddActivityData">
      <soap:operation soapAction="http://tempuri.org/AddActivityData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddActivityDataAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GoAberWSSoap12" type="tns:GoAberWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddActivityData">
      <soap12:operation soapAction="http://tempuri.org/AddActivityData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddActivityDataAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GoAberWS">
    <wsdl:port name="GoAberWSSoap" binding="tns:GoAberWSSoap">
      <soap:address location="http://localhost:50121/WebService/GoAberWS.asmx" />
    </wsdl:port>
    <wsdl:port name="GoAberWSSoap12" binding="tns:GoAberWSSoap12">
      <soap12:address location="http://localhost:50121/WebService/GoAberWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>